html{
  font-family: 'Lora', serif;
  background-color: #000000
}


/*logo*/
#latte .latlogo img{
  margin: 0px 3px 0px 5px;
}

#latte .latte img{
  margin: 0px 3px 0px 5px;

}

/*Menu Dropdown - learned from Harold Sikkema and W3SCHOOLS*/

/*styling the menu icon*/
.menuButton {
  display: inline-block;
  background-color: #000000;
  color: grey;
  padding: .5rem;
  cursor: pointer;
  float: right;
}

/*Highlights the icon as white when hovering over it*/
.menuButton:hover, .menuButton:focus {
  color: white;
}

/*styling for menu div*/
.menu {
  float: right;
  padding: 2.5rem;
  width: 205px;
  height: 300px;
}

/*styling the content that will show up when menu icon is clicked*/
.menuContent {
  display: none;
  position: absolute;
  background-color: #333333;
  z-index: 1;
}

/*styling the list items of the menu content*/
.menuContent a  {
  color:white;
  padding: .5rem;
  text-decoration: none;
  display: block;
}

.menuContent li  {
  color:white;
  padding: .5rem;
  text-decoration: none;
  display: block;
}

/*shows a light grey shade over list items when hovering*/
.menu li:hover {background-color: #404040;}

/*shows menu content when clicked*/
.show {display: block;}


/*HOME PAGE*/
/*Main content on Home Page*/

#content .container {
  display: flex;
}

/*image styling*/
img.coffee {
  width: 500px;
  height: 690px;
  padding: 79px 0 0 67px;
}

/*heading styling*/
#content .info h1{
  color: white;
  font-size: 42px;
}

/*paragraph styling*/
.info{
  color: white;
  font-size: 18px;
  padding-left: 38px;
}


/*ORIGINS & HISTORY PAGE*/


/*origin cover*/
/*Learned from Harold Sikkema*/
#latte #ogcover{
  background-image: url(../imgs/og.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65% 50%;
  height: 240px;
  opacity: 0.5;
}


#latte #ogcover h1{
  text-align: left;
  padding: 5.5rem;
  font-size: 45px;
  color: white;
}


/*origin main content*/


#content .ogcontainer {
  display: flex;
}
/*Origin picture styling */
#content .originPic{
  background-color: white;
  padding: 79px 0 0 25px;
}



/*Origin heading styling*/
#content .originInfo h1{
  padding: 4.5rem;
  color: black;
  font-size: 42px;
  text-align: center;


}

/*Origin paragraph styling*/

.originInfo{
  background-color: white;
  color: black;
  padding: 2.5rem;
  font-size: 18px;
  padding-left: 48px;

}

/*CURRENT USES PAGE*/


/*Current Use Cover*/
/*Learned from Harold Sikkema*/
#latte #CUcover{
  background-image: url(../imgs/bean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65% 50%;
  height: 240px;
  opacity: 0.5;
}


#latte #CUcover h1{
  text-align: left;
  padding: 120px 500px 120px 500px;
  font-size: 45px;
  color: white;
}


/*Current Uses Main Content*/
/*heading styling*/
#content .useInfo h1{
  padding: 4.5rem;
  color: black;
  font-size: 42px;
  text-align: center;
}
/*Subheading Styling*/
#content .useInfo h2{
  padding: 49px 0 67px 0;
  color: black;
  font-size: 32px;
  text-align: center;


}
/*Current Use paragraph styling*/

.useInfo{
  background-color: white;
  color: black;
  padding: 12px 300px 200px 300px;
  font-size: 18px;


}


/*SERVING STYLES PAGE*/

/*Serving styles cover*/
/*Learned from Harold Sikkema*/
#latte #servecover{
  background-image: url(../imgs/serve.jpg);
  background-repeat: no-repeat;
  background-size: cover; /*fills available space*/
  background-position: 65% 50%;
  height: 240px;
  opacity: 0.5;
}


#latte #servecover h1{
  text-align: left;
  padding: 5.5rem;
  font-size: 45px;
  color: white;
}

/*Serving Styles main content*/

#content .servecontainer {
  display: flex;
}
/*Serving Styles picture styling */
#content .servePic{
  background-color: white;
  padding: 79px 0 0 25px;
}



/*Origin heading styling*/
#content .serveInfo h1{
  padding: 4.5rem;
  color: black;
  font-size: 42px;
  text-align: right;


}

/*Origin paragraph styling*/

.serveInfo{
  background-color: white;
  color: black;
  padding: 2.5rem;
  font-size: 18px;
  padding-left: 48px;

}




/*footer*/
/*Learned from Harold Sikkema*/
#footer{
	display:block;
	background: #000;
	color: #fff;
}



#latte #footer #banner{ /*Learned from Harold Sikkema*/
  background-image: url(../imgs/cafe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.5;
}

#footer #overlay .bottomLogo{ /*Learned from Harold Sikkema*/
  padding: 40px 500px 74px 500px;
  background-color: #000000bb;
  opacity: 1;

}

#footer li{
	list-style-type: none;
  align-items: center;
	font-size: 12px;
padding: 0 70px 0 220px;

}

.footerInfo{
  cursor: pointer;

}

#latte #footer {
  margin-top: 17rem;
}
